{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>DatLien - Xwrap | {% block 'title' %}{% endblock %}</title>
    
    <link rel="shortcut icon" href="{% static 'static/datlien-logo.svg' %}" type="image/x-icon">
    <link href="{% static 'css/tabler.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/tabler-flags.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/tabler-payments.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/tabler-vendors.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/demo.min.css' %}" rel="stylesheet"/>
  </head>
  <body class="antialiased border-top-wide border-primary d-flex flex-column">
    {% block 'body' %}
    {% endblock %}
    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="{% static 'js/tabler.min.js' %}"></script>
  </body>
</html>