{% extends "datlien/layout.html" %}
{% load widget_tweaks %}
{% block 'body' %}
<div class="m-2">
    <h3 class="text-center">Incoming Deliveries</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Order Id</th>
                <th scope="col">User</th>
                <th scope="col">Source</th>
                <th scope="col">Destination</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for delivery in incoming_deliveries %}
            <tr>
                <td>{{delivery.id}}</td>
                <td>{{delivery.user}}</td>
                <td>{{delivery.source}}</td>
                <td>{{delivery.destination}}</td>
                <td>Delivered</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="m-2">
    <h3 class="text-center">OutGoing Deliveries</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Order Id</th>
                <th scope="col">User</th>
                <th scope="col">Source</th>
                <th scope="col">Destination</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for delivery in out_going_deliveries %}
            <tr>
                <td>{{delivery.id}}</td>
                <td>{{delivery.user}}</td>
                <td>{{delivery.source}}</td>
                <td>{{delivery.destination}}</td>
                <td>Delivered</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}