{% extends "datlien/layout.html" %}
{% block 'body' %}

{% load widget_tweaks %}

<div class="m-2">
    <h3 class="text-center">History Of {{user}}</h3>
    <table class="table table-striped">
        <thead>
            <th scope="col">Order Id</th>
            <th scope="col">Source</th>
            <th scope="col">Destination</th>
            <th scope="col">Status</th>
        </thead>
        <tbody>
            {% for delivery in orders_history %}
            <tr>
                <td>{{delivery.id}}</td>
                <td>{{delivery.source}}</td>
                <td>{{delivery.destination}}</td>
                <td>
                    {% if not delivery.is_approved %}
                        Pending
                    {% elif not delivery.is_picked %}
                        Approved
                    {% elif not delivery.is_shipped %}
                        Picked
                    {% elif not delivery.is_transit %}
                        Shipped
                    {% elif not delivery.is_received %}
                        On its Way to Destination
                    {% elif not delivery.out_for_delivery %}
                        Received
                    {% elif not delivery.is_delivered %}
                        Out for Delivery
                    {% else %}
                        Delivered
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}