{% extends "datlien/layout.html" %}
{% block 'body' %}
{% if is_c_hub %}
<div class="m-2">
    <div class="m-2">
        <b>City:</b> {{c_hub.city}}
        <br> 
        <b>Central Hub Of:</b> {{c_hub.state}}
    </div>
    <a class="btn btn-outline-success" href="{% url 'addHub' %}"> <i class="fa fa-plus"></i> <span class="h6">Hub</span></a>
</div>
<div class="m-2">
    {% for hub in hubs %}
    <div class="col-3 m-2">
        <div class="card">
            <div class="card-header text-center">
                {{hub.city}}
            </div>
            <div class="card-content m-2">
                <p>{{hub.central_hub}}</p>
                <p>{{hub.address}}</p>
            </div>
            <div class="card-footer text-center">
                <a href="{% url 'editHub' hub.username %}"> <i class="fa fa-edit"></i> </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% if is_hub %}
<div class="m-2">
    <div class="m-2">
        <b>City:</b> {{hub.city}}
        <br> 
        <b>Hub Of:</b> {{hub.state}} - {{hub.central_hub}}
    </div>
</div>

<div class="m-2">
    <h4 class="text-center">History</h4>
    <table class="table table-striped">
        <thead>
            <th scope="col">Placed On</th>
            <th scope="col">Order Id</th>
            <th scope="col">User</th>
            <th scope="col">Source</th>
            <th scope="col">Destination</th>
            <th scope="col">Status</th>
        </thead>
        <tbody>
            {% for delivery in history %}
            <tr>
                <td>{{delivery.created_on}}</td>
                <td>{{delivery.id}}</td>
                <td>{{delivery.user}}</td>
                <td>{{delivery.source}}</td>
                <td>{{delivery.destination}}</td>
                <td>
                    {% if not delivery.is_approved %}
                        Pending
                    {% elif not delivery.is_picked %}
                        Approved
                    {% elif not delivery.is_shipped %}
                        Picked
                    {% elif not delivery.is_transit %}
                        Shipped
                    {% elif not delivery.is_received %}
                        On its Way to Destination
                    {% elif not delivery.out_for_delivery %}
                        Received
                    {% elif not delivery.is_delivered %}
                        Out for Delivery
                    {% else %}
                        Delivered
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}