{% extends "datlien/layout.html" %}
{% load widget_tweaks %}
{% block 'body' %}
<div class="m-2">
    <h3 class="text-center">Approval Requests</h3>
    <table class="table table-striped">
        <thead>
            <th scope="col">Order Id</th>
            <th scope="col">User</th>
            <th scope="col">Source</th>
            <th scope="col">Destination</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
        </thead>
        <tbody>
            {% for delivery in approval_req %}
            <tr>
                <td>{{delivery.id}}</td>
                <td>{{delivery.user}}</td>
                <td>{{delivery.source}}</td>
                <td>{{delivery.destination}}</td>
                <td>Pending</td>
                <td><a href="{% url 'approve' delivery.id %}">Accpet</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="m-2">
    <h3 class="text-center">PickUp Requests</h3>
    <table class="table table-striped">
        <thead>
            <th scope="col">Order Id</th>
            <th scope="col">User</th>
            <th scope="col">Source</th>
            <th scope="col">Destination</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
        </thead>
        <tbody>
            {% for delivery in pickup_req %}
            <tr>
                <td>{{delivery.id}}</td>
                <td>{{delivery.user}}</td>
                <td>{{delivery.source}}</td>
                <td>{{delivery.destination}}</td>
                <td>Approved</td>
                <td><a href="{% url 'pick' delivery.id %}">Accpet</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="m-2">
    <h3 class="text-center">Shippment Requests</h3>
    <table class="table table-striped">
        <thead>
            <th scope="col">Order Id</th>
            <th scope="col">User</th>
            <th scope="col">Source</th>
            <th scope="col">Destination</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
        </thead>
        <tbody>
            {% for delivery in shippment_req %}
            <tr>
                <td>{{delivery.id}}</td>
                <td>{{delivery.user}}</td>
                <td>{{delivery.source}}</td>
                <td>{{delivery.destination}}</td>
                <td>Picked</td>
                <td><a href="{% url 'ship' delivery.id %}">Accpet</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="m-2">
    <h3 class="text-center">Transit Requests</h3>
    <table class="table table-striped">
        <thead>
            <th scope="col">Order Id</th>
            <th scope="col">User</th>
            <th scope="col">Source</th>
            <th scope="col">Destination</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
        </thead>
        <tbody>
            {% for delivery in transit_req %}
            <tr>
                <td>{{delivery.id}}</td>
                <td>{{delivery.user}}</td>
                <td>{{delivery.source}}</td>
                <td>{{delivery.destination}}</td>
                <td>Shipped</td>
                <td><a href="{% url 'transit' delivery.id %}">Accept</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="m-2">
    <h3 class="text-center">Order Status</h3>
    <table class="table table-striped">
        <thead>
            <th scope="col">Order Id</th>
            <th scope="col">Source</th>
            <th scope="col">Destination</th>
            <th scope="col">Status</th>
        </thead>
        <tbody>
            {% for delivery in history %}
            <tr>
                <td>{{delivery.id}}</td>
                <td>{{delivery.source}}</td>
                <td>{{delivery.destination}}</td>
                <td>
                    {% if not delivery.is_received %}
                        On its Way to Destination
                    {% elif not delivery.out_for_delivery %}
                        Received
                    {% elif not delivery.is_delivered %}
                        Out for Delivery
                    {% else %}
                        Delivered
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}