{% extends "datlien/layout.html" %}
{% block 'body' %}

{% load widget_tweaks %}
<div class="m-2">
    <a class="btn btn-outline-success" href="{% url 'addCity' state.id %}"> <i class="fa fa-plus"></i> <span class="h6">City</span></a>
</div>
<div class="m-2">
    {% if cities %}
        <b>Total Cities:</b> {{cities.count}}
    {% endif %}
</div>
<!-- <div class="m-2">
    {% for central_hub in central_hubs %}
    <div class="col-3">
        <div class="card">
            <div class="card-header text-center">
                {{central_hub.city}}
            </div>
            <div class="card-content m-2">
                <p>{{central_hub.state}}</p>
                <p>{{central_hub.address}}</p>
            </div>
            <div class="card-footer text-center">
                <a href="{% url 'editCentralHub' central_hub.username %}"> <i class="fa fa-edit"></i> </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div> -->

<div class="m-2">
    <h3 class="text-center">Cities</h3>
    <table class="table table-striped">
        <thead>
            <th scope="col">City Id</th>
            <th scope="col">State</th>
            <th scope="col">City</th>
        </thead>
        <tbody>
            {% for city in cities %}
            <tr>
                <td>{{city.id}}</td>
                <td>{{city.state.name}}</td>
                <td>{{city.city}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="m-2">
    <a class="btn btn-outline-success" href="{% url 'addCentralHub' %}"> <i class="fa fa-plus"></i> <span class="h6">Central Hub</span></a>
</div>
<div class="m-2">
    {% if central_hubs %}
        <b>Total Cental Hubs:</b> {{central_hubs.count}}
    {% endif %}
</div>
<!-- <div class="m-2">
    {% for central_hub in central_hubs %}
    <div class="col-3">
        <div class="card">
            <div class="card-header text-center">
                {{central_hub.city}}
            </div>
            <div class="card-content m-2">
                <p>{{central_hub.state}}</p>
                <p>{{central_hub.address}}</p>
            </div>
            <div class="card-footer text-center">
                <a href="{% url 'editCentralHub' central_hub.username %}"> <i class="fa fa-edit"></i> </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div> -->

<div class="m-2">
    <h3 class="text-center">Central Hub</h3>
    <table class="table table-striped">
        <thead>
            <th scope="col">Established On</th>
            <th scope="col">Central Hub Id</th>
            <th scope="col">State</th>
            <th scope="col">City</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Actions</th>
            <th scope="col">History</th>
        </thead>
        <tbody>
            {% for central_hub in central_hubs %}
            <tr>
                <td>{{central_hub.date}}</td>
                <td>{{central_hub.id}}</td>
                <td>{{central_hub.state}}</td>
                <td>{{central_hub.city}}</td>
                <td>{{central_hub.username}}</td>
                <td>{{central_hub.email}}</td>
                <td>
                    <a href="{% url 'editCentralHub' central_hub.username %}"> <i class="fa fa-edit"></i> </a>
                </td>
                <td>
                    <a href="{% url 'c_hub_history' central_hub.id %}"> <i class="fas fa-eye"></i> </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="m-2">
    <a class="btn btn-outline-primary" href="{% url 'viewStates' %}"> <i class="fa fa-arrow-left"></i> Back</a>
</div>
{% endblock %}