{% extends "user/layout.html" %}
{% block 'body' %}
{% load widget_tweaks %}
<div class="d-flex flex-column mt-3 mb-3">
    <div class="d-flex justify-content-sm-center">
        <div class="card text-dark col-md-auto">
            <h4 class="card-header d-flex justify-content-sm-center">
                Delivery
            </h4>
            <div class="card-body d-flex flex-column justify-content-sm-center">
                {% if message %}
                    <div class="alert alert-primary text-center" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
                <div class="d-flex">
                    <form method="POST" novalidate>
                        {% csrf_token %}
                        {% for field in form.visible_fields %}
                        <div class="mb-3 row form-group {%if field.errors %}alert alert-danger{%endif%}">
                            {{ field.errors }}
                            {{ field.label_tag }}
                            <div>
                                {% render_field field class="form-control" %}
                            </div>
                        </div>
                        {% endfor %}
                        <div class="text-center">
                            <button type="submit" class="btn btn-outline-success">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-footer text-center">
            </div>
        </div>
    </div>
</div>

<div class="m-2">
    <h3 class="text-center">History</h3>
    <table class="table table-striped">
        <thead>
            <th scope="col">Order Id</th>
            <th scope="col">Source</th>
            <th scope="col">Destination</th>
            <th scope="col">Status</th>
        </thead>
        <tbody>
            {% for delivery in history %}
            <tr>
                <td>{{delivery.id}}</td>
                <td>{{delivery.source}}</td>
                <td>{{delivery.destination}}</td>
                <td>
                    {% if not delivery.is_approved %}
                        Pending
                    {% elif not delivery.is_picked %}
                        Approved
                    {% elif not delivery.is_shipped %}
                        Picked
                    {% elif not delivery.is_transit %}
                        Shipped
                    {% elif not delivery.is_received %}
                        On its Way to Destination
                    {% elif not delivery.out_for_delivery %}
                        Received
                    {% elif not delivery.is_delivered %}
                        Out for Delivery
                    {% else %}
                        Delivered
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}